@import "variables.scss";
@import "typography.scss";

body {
  margin: var(--md-spacing);
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(47, 128, 216, 1) 30%, rgba(76, 176, 101, 1) 90%);
}
