@import './resources/styles.scss';

.app {
  // TODO :: use these styles instead of useStyles/makeStyles
  // TODO :: use spacing variables
  margin-top: 32px;
  margin-bottom: 16px;
  padding: 48px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(47,128,216,1) 30%, rgba(76,176,101,1) 90%);
}
.grid-container {
  background: white;
}
